<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigurationFileName" value="processmanager_config.xml"/>
    <add key="LogFolderName" value="Logs"/>
    <add key="LogFileName" value="processmanager_%date%.log"/>
    <add key="LogTypeMinLevel" value="Flow"/>
    <add key="StatusUpdateInterval" value="500"/>
    <add key="DistributionConnectionCleanInterval" value="1000"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
