<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConfigurationFileName" value="processmanager_config.xml"/>
    <add key="LogFolderName" value="Logs"/>
    <add key="LogFileName" value="processmanager_%date%.log"/>
    <add key="StatusUpdateInterval" value="1000"/>
  </appSettings>
</configuration>